.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
src/assets/json/data-sb.json
src/assets/json/lang/es-sb.json
src/assets/images/logo-sb.png

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln


./configCordova/idea/
./configCordova/sourcemaps/
./configCordova/sass-cache/
./configCordova/tmp/
./configCordova/versions/
configCordova/coverage/
configCordova/dist/
configCordova/node_modules/
configCordova/tmp/
configCordova/temp/
configCordova/hooks/
configCordova/platforms/
configCordova/plugins/
configCordova/plugins/android.json
configCordova/plugins/ios.json
configCordova/$RECYCLE.BIN/
configCordova/.DS_Store
configCordova/Thumbs.db
configCordova/UserInterfaceState.xcuserstate

configCordova/www/