/*BACKGROUND ANIMATION*/
.background-logo{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.background-logo li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-image:url('~@/assets/images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: animate 25s linear infinite;
  bottom: -150px;
}
@for $i from 1 through 10 {
  $size: (random(10)*10)#{px};
  .background-logo li:nth-child(#{$i}){
    left: percentage(random(100)/100);
    width: $size;
    height: $size;
    animation-delay: (random(15)-1)#{s};
  }
}
@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: .5;
    filter: grayscale(.9);
  }
  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}