.firework {
  position: absolute;
  top: 200px;
  left: 50%;
}
.firework:before{
  content: "";
  display: block;
  border-radius: 5px;
  background-color: $color1;
  width: 5px;
  height: 0px;
  transform: translateY(500px);
  animation: fireworkstart $time ease-out 1;
}
@keyframes fireworkstart{
  0%{
    height: 0px;
  transform: translateY(500px);
  }
  25%{
    height: 50px;
  }
  50%{
    height: 30px;
  }
  75%{
    height: 0;
    transform: translateY(0);
  }
}
.firework .explosion {
  z-index:10;
  position: absolute;
  top: 0;
  width: 5px;
  height: 20px;
  opacity: 0;
  transform-origin: top center;
  animation: explosion $time linear 1;
}
@keyframes explosion{
  75%{
    height: 0px;
    opacity: 0;
  } 
  87%{
    height: 25px;
    opacity: 1;
  }
  100%{
    height: 0px;
    opacity: 0;
  }
}
.firework .explosion:nth-child(1) {
  transform: rotate(0deg);
}
.firework .explosion:nth-child(2) {
  transform: rotate(90deg);
}
.firework .explosion:nth-child(3) {
  transform: rotate(180deg);
}
.firework .explosion:nth-child(4) {
  transform: rotate(-90deg);
}
.firework .explosion:nth-child(5) {
  transform: rotate(45deg);
}
.firework .explosion:nth-child(6) {
  transform: rotate(-45deg);
}
.firework .explosion:nth-child(7) {
  transform: rotate(135deg);
}
.firework .explosion:nth-child(8) {
  transform: rotate(225deg);
}
.firework .explosion .spark{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  animation: explosion2 $time ease-in-out 1;
}
.firework .explosion .spark.color1 {
  background-color: $color1;
}
.firework .explosion .spark.color2 {
  background-color: $color2;
}
.firework .explosion .spark.color3 {
  background-color: $color3;
}
@keyframes explosion2{
  75%{
    transform: translateY(0px);
  } 
  80%{
    transform: translateY(5px);
  }
  90%{
    transform: translateY(100px);
  }
  95%{
    transform: translateY(110px);
    opacity:1;
  }
  100%{
    transform: translateY(120px);
    opacity:0;
  }
}