$time: 2s;
$grey: #EEE;
$textAlignments: left center right;
$colors: #F65058 #3EABC7 #FBDE44;
$colorFonts:  #FFF #FFF #222;
@mixin get-color($property, $index, $list) {
  #{$property}: nth($list, $index);
}